/*GENERAL FONT*/
*{
  margin: 1px;
  padding: 0px;
  box-sizing: border-box; /*establece una caja para tu ancho*/
  text-decoration: none;
  font-family:'Franklin Gothic', 'Arial Narrow', sans-serif;
  background-color:rgba(225, 240, 255, 0.699);
}

div.logo{
   background-position: center; 
   padding-right: 38%;
   padding-left: 38%;
}

.google{
    width: 70%;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 18px;
    background-color: transparent;
    /* font-size: 13px;
    font-weight: 600;
    line-height: 34px; */
    text-align: center;
    position: center;
    cursor: pointer;
    text-decoration: none;
    color: rgb(102, 102, 102);
}

.container-home{
  background-color: rgba(8, 6, 3, 0.274);
  grid-template-rows: 20% 40% 10% 2% 10%;
  margin: 0 auto;
}

.container-home__h3{
  color:rgba(255, 255, 255, 0.884);
  font-size: 1.5rem;
  padding: 0.8rem;
}

.container-home__p{
  color:rgba(255, 255, 255, 0.884);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.8rem;
}
.button {
  background-color: #fcd602;
  border-radius: 1rem;
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  outline-style: none;
  padding: .3rem;
  width: 80%;
  height: 3rem;
}
/* .registration{ */
    /* margin-right: 20%;
    margin-left: 20%; */
}